 .body{
  min-height: 1000px;
 }
 #filter{
  z-index: 100;
 }
 .padding-bottom{
  padding-bottom: 10px;
 }
   .border-top{
    border-top: 1px solid #333;
  }
   .alt{
    border-bottom: 1px solid #333;
    border-top: 1px solid #333;
  }
 
 #map{
        padding-right: 10px;
    min-height: 300px;
  }
  @media(min-width:992px ){
     .fixeddown{
    top:350px;
  }
    #fixed{
      position:fixed;
      float: right;
      amargin-left: 50%
    }
    .affix-top{
      bottom:0%;
    }
    .affix-bottom {
      top:inherit !important;
     bottom:250px;
    }
    .affix .map{
      aposition :initial !important;
    }
    .affix{
      top:50px;
    }
  }
  @media (max-width: 992px) and (min-width:768px ) {
    #fixed{
      position: relative!important;
    }
    .affix .map{
      position :relative !important;
    }
    .affix{
      position :relative !important;
    }
  }
   @media  (max-width:992px ) {
    #fixed{
      margin-left: 5px!important;
      position: relative!important;
    }
    .affix{
     float:left !important;
    }
  }