
.star-img img{
	position:relative;top:0;
	left:-3px;
	width:auto;height:auto;
	background : url(/static/img/stars_map.png) no-repeat;
}
.star-img {
display:block;
width:100%;
height:100%;
background:url(/static/img/stars_map.png) no-repeat;
}

.rating .stars_0{top:-3px}
.rating .stars_1{top:-21px}
.rating .stars_1_half{top:-39px}
.rating .stars_2{top:-57px}
.rating .stars_2_half{top:-75px}
.rating .stars_3{top:-93px}
.rating .stars_3_half{top:-111px}
.rating .stars_4{top:-129px}
.rating .stars_4_half{top:-147px}
.rating .stars_5{top:-165px}
.rating-small .stars_0{top:-183px}
.rating-small .stars_1{top:-195px}
.rating-small .stars_1_half{top:-207px}
.rating-small .stars_2{top:-219px}
.rating-small .stars_2_half{top:-231px}
.rating-small .stars_3{top:-243px}
.rating-small .stars_3_half{top:-255px}
.rating-small .stars_4{top:-267px}
.rating-small .stars_4_half{top:-279px}
.rating-small .stars_5{top:-291px}
.rating-large .stars_0{top:-303px}
.rating-large .stars_1{top:-324px}
.rating-large .stars_1_half{top:-345px}
.rating-large .stars_2{top:-366px}
.rating-large .stars_2_half{top:-387px}
.rating-large .stars_3{top:-408px}
.rating-large .stars_3_half{top:-429px}
.rating-large .stars_4{top:-450px}
.rating-large .stars_4_half{top:-471px}
.rating-large .stars_5{top:-492px}
.rating-very-large .stars_0{top:-514px}
.rating-very-large .stars_1{top:-539px}
.rating-very-large .stars_1_half{top:-564px}
.rating-very-large .stars_2{top:-589px}
.rating-very-large .stars_2_half{top:-614px}
.rating-very-large .stars_3{top:-639px}
.rating-very-large .stars_3_half{top:-664px}
.rating-very-large .stars_4{top:-689px}
.rating-very-large .stars_4_half{top:-714px}
.rating-very-large .stars_5{top:-739px}}
.star-img {
display:block;
width:100%;
height:100%;
background:url(//s3-media3.ak.yelpcdn.com/assets/2/www/img/c2252a4cd43e/ico/stars/v2/stars_map.png) no-repeat;
}

.filtered-reviews-content .star-img {
background:url(//s3-media1.ak.yelpcdn.com/assets/2/www/img/23c56144463d/ico/stars/v2/stars_map_gray.png) no-repeat;
}

.rating .stars_1 {
background-position:-3px -21px;
}

.rating .stars_1_half {
background-position:-3px -39px;
}
.rating .stars_2{
background-position: -3px -55px;
}

.rating .stars_2_half {
background-position:-3px -75px;
}

.rating .stars_3 {
background-position:-3px -93px;
}

.rating .stars_3_half {
background-position:-3px -111px;
}

.rating .stars_4 {
background-position:-3px -129px;
}

.rating .stars_4_half {
background-position:-3px -147px;
}

.rating .stars_5 {
background-position:-3px -165px;
}

.rating-small {
display: -webkit-inline-box;
float:left;
position:relative;
overflow:hidden;
width:85px;
height:20px;
padding-top: 3px
}
.rating {
display: -webkit-inline-box;
float:left;
position:relative;
overflow:hidden;
width:85px;
height:20px;
padding-top: 3px
}
.rating-small .stars_0 {
background-position:-3px -183px;
}

.rating-small .stars_1 {
background-position:-3px -195px;
}

.rating-small .stars_1_half {
background-position:-3px -207px;
}

.rating-small .stars_2_half {
background-position:-3px -231px;
}

.rating-small .stars_3 {
background-position:-3px -243px;
}

.rating-small .stars_3_half {
background-position:-3px -255px;
}

.rating-small .stars_4 {
background-position:-3px -267px;
}

.rating-small .stars_5 {
background-position:-3px -291px;
}

.rating-large {
	display: -webkit-inline-box;
	overflow:hidden;
	position:relative;
	width:106px;
	height:18px;
}

.rating-large .stars_0 {
background-position:-3px -303px;
}

.rating-large .stars_1 {
background-position:-3px -324px;
}

.rating-large .stars_1_half {
background-position:-3px -345px;
}

.rating-large .stars_2 {
background-position:-3px -366px;
}

.rating-large .stars_2_half {
background-position:-3px -387px;
}

.rating-large .stars_3 {
background-position:-3px -408px;
}

.rating-large .stars_3_half {
background-position:-3px -429px;
}

.rating-large .stars_4{
	background-position: -3px -450px;
}
.rating-large .stars_4_half {
background-position:-3px -471px;
}

.rating-large .stars_5 {
background-position:-3px -492px;
}

.rating-very-large {
overflow:hidden;
position:relative;
width:126px;
height:22px;
}

.rating-very-large .stars_0 {
background-position:-3px -514px;
}

.rating-very-large .stars_1 {
background-position:-3px -539px;
}

.rating-very-large .stars_1_half {
background-position:-3px -564px;
}

.rating-very-large .stars_2 {
background-position:-3px -589px;
}

.rating-very-large .stars_2_half {
background-position:-3px -614px;
}

.rating-very-large .stars_3 {
background-position:-3px -639px;
}

.rating-very-large .stars_3_half {
background-position:-3px -664px;
}

.rating-very-large .stars_4 {
background-position:-3px -689px;
}

.rating-very-large .stars_4_half {
background-position:-3px -714px;
}
